# Database
DATABASE_PORT=modified
DATABASE_PASSWORD=modified
DATABASE_USER=modified
DATABASE_NAME=modified
DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@localhost:${DATABASE_PORT}/${DATABASE_NAME}

# Auth
BETTER_AUTH_SECRET=modified
ฺBETTER_AUTH_URL=modified